<ng-container>
  <h1>Login</h1>
  <form class="login__page" [formGroup]="loginForm()" (ngSubmit)="login()">
    <div class="input__field">
      <input type="email" name="email" placeholder="Enter Email" formControlName="email" />
      @if (loginForm().get('email')?.touched) {
        @if (loginForm().get('email')?.getError('required')) {
          <p>Email is required</p>
        }

        @if (loginForm().get('email')?.getError('email')) {
          <p>Please enter valid email</p>
        }
      }
      <input
        type="password"
        name="password"
        placeholder="Enter Password"
        formControlName="password"
      />
      @if (loginForm().get('password')?.touched) {
        @if (loginForm().get('password')?.getError('required')) {
          <p>Password is required</p>
        }

        @if (loginForm().get('password')?.getError('minlength')) {
          <p>Password must be at least 4 characters</p>
        }
      }
    </div>
    <button type="submit" [disabled]="loginForm().invalid">Login</button>
  </form>
</ng-container>
